body {
  font-family: 'Poppins', sans-serif;
  background: #f1f5f8;
  color: #102a42;
  line-height: 1.5;
  font-size: 0.875rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.25rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  margin: 0 1rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
}

/*
=============== 
Navbar
===============
*/
nav {
  background: #645cff;
  padding: 1.25rem 2rem;
}

.nav-center {
  max-width: 70rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  margin-bottom: 0;
  letter-spacing: 1px;
  color: #fff;
  font-size: 1.5rem;
  margin: 0 1.5rem;
  text-transform: capitalize;
  line-height: 1.25;
  font-weight: bold;
  transition-property: margin-bottom;
  transition-duration: .1s;
}

.nav-link:hover {
  margin-bottom: .2rem;
}

.nav-link:active {
  margin-bottom: .2rem;
  text-decoration: underline;
}

.nav-container {
  display: block;
  position: relative;
}

nav svg {
  width: 40px;
  color: #fff;
}

.amount-container {
  position: absolute;
  top: -0.6rem;
  right: -0.6rem;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  background: #a29dff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.total-amount {
  color: #fff;
  margin-bottom: 0;
  font-size: 1.25rem;
}

/*
=============== 
Login/Register Form
===============
*/
.form{
  width: 70rem;
  margin: 2rem auto;
}
table{
  width: 100%;
}
table ::placeholder {
  padding: .5rem;
  margin: .2rem;
  letter-spacing: .1rem;
}
th,td{
  padding: .5rem 0 0 0;
  letter-spacing: .1rem;
}
table p{
  margin: 1rem 0 0 0 !important;
  float: left;
}
input{
  width: 20rem;
  height: 1.8rem;
  outline: none;
}
.submit-btn{
  color: #fff;
  background: #645cff;
  font-size: 1.2rem;
  text-transform: capitalize;
  margin: 1rem 0 0 0;
  padding: .2rem 1rem;
  border-radius: .2rem;
  letter-spacing: .1rem;
  cursor: pointer;
}
.register-link, .login-link{
  font-size: 1.2rem;
  color: #645cff;
  cursor: pointer;
}

/*
=============== 
Products
===============
*/
.specials-title {
  text-align: center;
  margin: 2rem 0 0 0;
}

/*
=============== 
Product
===============
*/
.special-items-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 80rem;
  margin: 2rem auto;
}
.special-product img{
  width: 100%;
  margin-bottom: 1rem;
  transition: all .2s linear
}
.special-product img:hover {
  transform: scale(1.05);
}
.special-product{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1rem;
  width: 22rem;
  border: 1px solid lightslategray;
  padding: .3rem;
}
.special-product h4{
  margin: .2rem 0;
}
.addTocart-btn{
  color: #fff;
  background: #645cff;
  font-size: 1rem;
  text-transform: capitalize;
  margin: .7rem 0 .7rem 0;
  padding: .3rem 1rem;
  border-radius: .2rem;
  letter-spacing: .1rem;
  border: none;
  cursor: pointer;
  transition-property: background;
  transition-duration: .2s;
}
.addTocart-btn:hover{
  background: #0f08a4;
}

/*
=============== 
Cart
===============
*/
.cart-container{
  width: 50rem;
  margin: 2rem auto;
}
.cart-container h2{
  text-align: center;
  margin: 2rem;
}
.empty-cart {
  text-transform: lowercase;
  color: #645cff;
  margin-top: 1rem;
  text-align: center;
}
.cart-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}
.cart-row img{
  width: 8rem;
  padding: .1rem 0;
}
.cart-row h3{
  margin: 0 2rem;
  float: left;
}
.remove-column{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.remove-btn {
  font-size: 1.2rem;
  color: #645cff;
  background: transparent;
  border: none;
  cursor: pointer;
  margin: .3rem;
  transition-property: color;
  transition-duration: .2s;
}
.remove-btn:hover {
  color: #0f08a4;
}
.chevron-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.amount-btn {
  width: 1.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
}
.amount{
  text-align: center;
  width: 1.2rem;
}
hr {
  background: #645cff;
  border-color: transparent;
  border-width: 0.25px;
}
.cart-total h4 {
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.clear-btn {
  background: transparent;
  padding: 0.5rem 1rem;
  color: rgb(152, 7, 7);
  border: 1px solid rgb(152, 7, 7);
  margin-top: 0.25rem;
  border-radius: 0.25rem;
  text-transform: capitalize;
  letter-spacing: 0.2rem;
  cursor: pointer;
}

.clear-btn:hover {
  background: hsl(360, 71%, 66%);
  color: rgb(152, 7, 7);
  border-color: hsl(360, 71%, 66%);
}

/*
=============== 
Services
===============
*/
.services {
  width: 70rem;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.service {
  width: 20rem;
  margin: 1rem;
  padding: 1rem;
}
.service span {
  color: #645cff;
  font-size: 3rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.service h4,p {
  letter-spacing: .2rem;
  text-align: center;
}
.service h4{
  font-weight: bold;
  margin-bottom: 1rem;
}

/*
=============== 
Banner
===============
*/
.banner{
  width: 70rem;
  margin: 2rem auto;
}
.banner h3 {
  text-align: center;
}
